<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Automation Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/solarized-dark.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="module">
        import {
            initTimeUpdater,
            initMotorSwitches,
            fetchMotorStatuses,
            handleSetTimeForm
        } from './static/js/domManager.js';

        window.onload = function() {
            initTimeUpdater();
            initMotorSwitches();
            handleSetTimeForm();
            setInterval(fetchMotorStatuses, 5000); // Fetch motor statuses every 5 seconds
        };
    </script>
</head>

<body>

<div class="container mt-5">
    <h1 class="text-center mb-5">Greenhouse Automation Dashboard</h1>

    <!-- Current Status and Readings -->
    <div class="jumbotron">
        <h2>Current Status</h2>
        <p><strong>Current Time:</strong> <span id="current-time">Loading...</span></p>
        <p><strong>Roll Up Time:</strong> <span id="roll-up-time">Loading...</span></p>
        <p><strong>Roll Down Time:</strong> <span id="roll-down-time">Loading...</span></p>
        <!--Enviromental Sensor Data -->
        <p><strong>Temperature:</strong> <span id="temperature">Loading...</span></p>
        <p><strong>Humidity:</strong> <span id="humidity">Loading...</span></p>
        <!--Motor On/Off status -->
        <p><strong>Sidewall Left:</strong> <span id="sidewall-left-status">Active</span></p>
        <p><strong>Sidewall Right:</strong> <span id="sidewall-right-status">Active</span></p>
        <p><strong>Overhead Left:</strong> <span id="overhead-left-status">Active</span></p>
        <p><strong>Overhead Right:</strong> <span id="overhead-right-status">Active</span></p>

        <!-- Add more sensor readings here as needed -->
    </div>

    <!-- Manual Controls -->
    <div class="mb-5">
        <h2>Manual Controls</h2>
        <!-- Manual override Motor Control buttons -->
        <button class="btn btn-primary motor-control-btn" data-action="roll_up">Roll Up</button>
        <button class="btn btn-yellow motor-control-btn" data-action="roll_down">Roll Down</button>
        <button class="btn btn-danger motor-control-btn" data-action="stop_motors">Stop Motors</button>

        <!-- Manual Motor control switches activate/deactivate hardware -->
        <h4>Motor Control On/Off</h4>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="sidewall-left-switch" checked>
            <label class="custom-control-label" for="sidewall-left-switch">Sidewall Left</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="sidewall-right-switch" checked>
            <label class="custom-control-label" for="sidewall-right-switch">Sidewall Right</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="overhead-left-switch" checked>
            <label class="custom-control-label" for="overhead-left-switch">Overhead Left</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="overhead-right-switch" checked>
            <label class="custom-control-label" for="overhead-right-switch">Overhead Right</label>
        </div>
    </div>


    <!-- Time Settings -->
    <div>
        <h2>Set Time for Motor Actions</h2>
        <!-- Update form to be handled by JavaScript -->
        <form id="set-time-form">
            <div class="form-group">
                <label for="roll_up_time">Roll Up Time:</label>
                <input type="time" id="roll_up_time" name="roll_up_time" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="roll_down_time">Roll Down Time:</label>
                <input type="time" id="roll_down_time" name="roll_down_time" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Set Times</button>
        </form>
    </div>
</div>

<!-- WebSocket for UI control locally hosted in static/js/socket.io.js -->
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  
</body>
</html>
