<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard meta tags, title, and stylesheets -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Automation Dashboard</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/solarized-dark.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>

<body>

    <header class="container mt-5">
        <h1 class="text-center mb-5">Greenhouse Automation Dashboard</h1>
    </header>

    <main class="container">
        <!-- Current Status and Readings -->
        <section class="jumbotron">
            <h2>Current Status</h2>
            <!-- Displaying real-time sensor data -->
            <p><strong>Current Time:</strong> <span id="current-time">Loading...</span></p>
            <p><strong>Roll Up Time:</strong> <span id="roll-up-time">Loading...</span></p>
            <p><strong>Roll Down Time:</strong> <span id="roll-down-time">Loading...</span></p>
            <p><strong>Temperature:</strong> <span id="temperature">Loading...</span></p>
            <p><strong>Humidity:</strong> <span id="humidity">Loading...</span></p>
            <p><strong>VPD:</strong> <span id="vpd">Loading...</span></p>
        </section>

        <!-- Manual Controls -->
        <section class="mb-5">
            <h2>Manual Controls</h2>
            <!-- Manual override Motor Control buttons -->
            <button class="btn btn-primary motor-control-btn" data-action="roll_up">Roll Up All Motors</button>
            <button class="btn btn-yellow motor-control-btn" data-action="roll_down">Roll Down All Motors</button>
            <button class="btn btn-danger motor-control-btn" data-action="stop_motors">Stop All Motors</button>        

            <!-- Manual Motor control switches activate/deactivate hardware -->
            <h4>Motor Control On/Off</h4>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="sidewall-left-switch">
                <label class="custom-control-label" for="sidewall-left-switch">Sidewall Left</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="sidewall-right-switch">
                <label class="custom-control-label" for="sidewall-right-switch">Sidewall Right</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="overhead-left-switch">
                <label class="custom-control-label" for="overhead-left-switch">Overhead Left</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="overhead-right-switch">
                <label class="custom-control-label" for="overhead-right-switch">Overhead Right</label>
            </div>
            <!-- Add switches for other motors as needed -->
        </section>

        <!-- Time Settings -->
        <section>
            <h2>Set Time for Motor Actions</h2>
            <form id="set-time-form">
                <div class="form-group">
                    <label for="roll_up_time">Roll Up Time:</label>
                    <input type="time" id="roll_up_time" name="roll_up_time" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="roll_down_time">Roll Down Time:</label>
                    <input type="time" id="roll_down_time" name="roll_down_time" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Set Times</button>
            </form>
        </section>
    </main>

    <!-- WebSocket and script imports -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <!-- Bootstrap JavaScript -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="module">
        import {
            initTimeUpdater,
            initMotorSwitches,
            fetchMotorStatuses,
            handleSetTimeForm,
            fetchSensorData
        } from '/static/js/domManager.js';

        window.onload = function() {
            initTimeUpdater();
            initMotorSwitches();
            handleSetTimeForm();
            fetchSensorData();
            setInterval(fetchMotorStatuses, 5000); // Fetch motor statuses every 5 seconds
        };
    </script>

</body>
</html>
